<!DOCTYPE html>
<html>
<head>
	<title>管理路線</title>
</head>
<body>
	<%- include('../function') %>
	<div class="col py-3">
	<nav aria-label="breadcrumb">
		<ol class="breadcrumb">
		<li class="breadcrumb-item me-2"><img src="/menu.png" width="16" height="16"></li>
		<li class="breadcrumb-item"><a href="/main">首頁</a></li>
		<li class="breadcrumb-item"><a href="/route">管理路線</a></li>
		<li class="breadcrumb-item active" aria-current="page">詳細路線資料</li>
		</ol>
	</nav>
	<table class="table table-bordered mt-5" id="tab">
		<thead class="table-primary">
		<tr><th>路線編號</th><th>名稱</th><th>類別</th><th>時段</th></tr>
		</thead>
	</table>
	<%- include('../sos') %>
	<script src = 'https://cdnjs.cloudflare.com/ajax/libs/axios/0.27.2/axios.min.js' ></script>
	<script>
		const id = '<%= id %>';
		console.log(id);
		axios.get(`/api/route/${id}`)
			.then(response => {
				let route = response.data;
				console.log(route);
				var reh_category = "";
				if (route.reh_category == 1) {
					reh_category = "山線";
				} else if (route.reh_category == 2) {
					reh_category = "海線";
				} else if (route.reh_category == 3) {
					reh_category = "屯線";
				}
				var reh_time = "";
				if (route.reh_time == 1) {
					reh_time = "午餐/午晚餐";
				} else if (route.reh_time == 2) {
					reh_time = "晚餐";
				}

				tab.innerHTML += `<tr><td>${route.s_num}</td><td>${route.reh_name}</td><td>${reh_category}</td><td>${reh_time}</td><tr>`;
			})
			.catch(error => {
				console.error(error);
			});			
	</script>
</body>
</html>
