<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>管理後台</title>
  </head>
  <body>
  <%- include('function') %>
  <div class="col py-3">
  <h1>送餐後台管理系統</h1>
  </div>
  <%- include('sos') %>
  </div>
  </div>
  </body>
</html>
