<!DOCTYPE html>
<html>
<head>
	<title>案主健康紀錄</title>
</head>
<body>
	<%- include('../function') %>
	<div class="col py-3">
	<nav aria-label="breadcrumb">
		<ol class="breadcrumb">
		<li class="breadcrumb-item me-2"><img src="/menu.png" width="16" height="16"></li>
		<li class="breadcrumb-item"><a href="/main" class="bread-text">首頁</a></li>
		<li class="breadcrumb-item active" aria-current="page">案主健康紀錄</li>
		</ol>
	</nav>
	<form id="searchForm" method="GET">
	<div class="row mt-5">
		<div class="col-lg-2">
			<input type="text" id="id" name="id" class="form-control" placeholder="案主編號">
		</div>
		<div class="col-lg-2">
			<input type="text" id="name" name="name" class="form-control" placeholder="案主姓名">
		</div>
		<div class="col-lg-2">
			<input type="date" id="date" name="date" class="form-control" placeholder="日期">
		</div>
		<div class="col-lg-3">

			<button type="submit" class="btn btn-primary">
				<img src="/search.png" width="16">
				<span>查詢</span>
			</button>
			<button type="button" class="btn btn-outline-primary" onclick="window.location.href='/health'">
				<span>重置</span>
			</button>
		</div>
	</div>
	<div id="tab" class="mt-4">
		<table class="table table-bordered" id="tab1">
		</table>
	</div>
	<div id="tab2" class="d-flex justify-content-end"></div>
	</div>
	</div>
	</div>
	<div class="modal fade" id="detailModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header" style="background-color: rgb(11,59,79)">
            <h5 class="modal-title" style="color: white" id="exampleModalLabel"><b>詳細案主健康紀錄</b></h5>
            <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <table class="table" id="detail_tab"></table>
            </div>
          </div>
        </div>
      </div>
	<%- include('../sos') %>
	<script src = 'https://cdnjs.cloudflare.com/ajax/libs/axios/0.27.2/axios.min.js' ></script>
	<script>
		var tb1 = document.getElementById('tab1');
		const tab1_th = '<thead><tr id=tr_th><th scope="col" style="background-color:rgb(11,59,79);color:white">No.</th><th scope="col" style="background-color:rgb(11,59,79);color:white">案主編號</th><th scope="col" style="background-color:rgb(11,59,79);color:white">姓</th><th scope="col" style="background-color:rgb(11,59,79);color:white">名</th><th scope="col" style="background-color:rgb(11,59,79);color:white">日期</th><th scope="col" style="background-color:rgb(11,59,79);color:white">其他功能</th></tr>';
		var id;
		var name;
		var date;
		var health;
		var search_health;
		var on_search = false;
		var page = 1;
		var page_display = 5;
		var total_page;
		function pagination(pos,now_page) {
			if (pos === "one") {
	       			return `<nav aria-label="Page navigation example">
			  	<ul class="pagination">
			    	<li class="page-item active"><a class="page-link">1</a></li>
			  	</ul>
				</nav>`;
			} else if (pos === "first") {
				return `<nav aria-label="Page navigation example">
			  	<ul class="pagination">
	       		    	<li class="page-item active"><a class="page-link">${now_page}</a></li>
			    	<li class="page-item">
			      	<a class="page-link" href="#" aria-label="Next" onclick="next()">
			        <span aria-hidden="true">&raquo;</span>
			      	</a>
			    	</li>
			  	</ul>
				</nav>`;
			} else if (pos === "center") {
				return `<nav aria-label="Page navigation example">
			  	<ul class="pagination">
				<li class="page-item">
				<a class="page-link" href="#" aria-label="Previous" onclick="prev()">
			        <span aria-hidden="true">&laquo;</span>
			      	</a>
			    	</li>
	       		    	<li class="page-item active"><a class="page-link">${now_page}</a></li>
			    	<li class="page-item">
			      	<a class="page-link" href="#" aria-label="Next" onclick="next()">
			        <span aria-hidden="true">&raquo;</span>
			      	</a>
			    	</li>
			  	</ul>
				</nav>`;
			} else {
				return `<nav aria-label="Page navigation example">
			  	<ul class="pagination">
			    	<li class="page-item">
			      	<a class="page-link" href="#" aria-label="Previous" onclick="prev()">
			        <span aria-hidden="true">&laquo;</span>
			      	</a>
			    	</li>
	       		  	<li class="page-item active"><a class="page-link">${now_page}</a></li>
			  	</ul>
				</nav>`;
			}
		};
		// 取得案主健康記錄
		axios.get('/api/health')
			.then(response => {
				tab1.innerHTML = tab1_th;
				health = response.data;
				console.log(health)
				for (let i = (page-1)*page_display; i < (page-1)*page_display+page_display; i++) {
					if (i < health.length) {
						tab1.innerHTML += get_tb1_tb(health,i);
					}
				}
				total_page = Math.ceil(health.length/page_display);
				if (page < total_page) {
					tab2.innerHTML = pagination('first',page);
				} else {
					tab2.innerHTML = pagination('one',1);
				}
			})
			.catch(error => {
				console.error(error);
			});
		function get_tb1_tb(health,i) {
			return `<tr id=tr${i%10+1}><td>${i+1}</td><td>${health[i].s_num}</td><td>${health[i].ct_lastname}</td><td>${health[i].ct_name}</td><td>${health[i].date}</td><td><button type="button" class="btn btn1 mx-1" data-bs-toggle="modal" data-bs-target="#detailModal" onclick="show_detail(${health[i].s_num},${health[i].date})">詳細</button></td></tr>`;
		}
		function next() {
			tab1.innerHTML = tab1_th;
			page += 1
			for (let i = (page-1)*page_display; i < (page-1)*page_display+page_display; i++) {
				if (on_search == false) {
					if (i < health.length) {
						tab1.innerHTML += get_tb1_tb(health,i);
					}
				} else {
					if (i < search_health.length) {
						tab1.innerHTML += get_tb1_tb(search_health,i);
					}
				}
			}
			if (page < total_page) {
				tab2.innerHTML = pagination("center",page);
			} else {
				tab2.innerHTML = pagination("last",page);
			}
		}
		function last() {
			tab1.innerHTML = tab1_th;
			page = total_page;
			for (let i = (page-1)*page_display; i < (page-1)*page_display+page_display; i++) {
				if (on_search == false) {
					if (i < health.length) {
						tab1.innerHTML += get_tb1_tb(health,i);
					}
				} else {
					if (i < search_health.length) {
						tab1.innerHTML += get_tb1_tb(search_health,i);
					}
				}
			}
			tab2.innerHTML = pagination("last",page);
		}
		function first() {
			tab1.innerHTML = tab1_th;
			page = 1;
			for (let i = (page-1)*page_display; i < (page-1)*page_display+page_display; i++) {
				if (on_search == false) {
					if (i < health.length) {
						tab1.innerHTML += get_tb1_tb(health,i);
					}
				} else {
					if (i < search_health.length) {
						tab1.innerHTML += get_tb1_tb(search_health,i);
					}
				}
			}
			tab2.innerHTML = pagination("first",page);
		}
		function prev() {
			tab1.innerHTML = tab1_th;
			page -= 1
			for (let i = (page-1)*page_display; i < (page-1)*page_display+page_display; i++) {
				if (on_search == false) {
					if (i < health.length) {
						tab1.innerHTML += get_tb1_tb(health,i);
					}	
				} else {
					if (i < search_health.length) {
						tab1.innerHTML += get_tb1_tb(search_health,i);
					}
				}
			}
			if (page > 1) {
				tab2.innerHTML = pagination("center",page);
			} else {
				tab2.innerHTML = pagination("first",page);
			}
		}
		document.getElementById("searchForm").addEventListener('submit', function(event) {
			event.preventDefault(); // 防止送出後頁面刷新
			on_search = true;
			id = document.getElementById("searchForm").querySelectorAll('input')[0].value;
			name = document.getElementById("searchForm").querySelectorAll('input')[1].value;
			date = document.getElementById("searchForm").querySelectorAll('input')[2].value;
			search_health = health;
			if (id !== "") {
				search_health = search_health.filter(this_health => this_health.s_num.toString().startsWith(id));
			}
			if (name !== "") {
				search_health = search_health.filter(this_health => (this_health.ct_lastname+this_health.ct_name).startsWith(name));
			}
			if (date !== "") {
				console.log(date)
				search_health = search_health.filter(this_health => this_health.date.startsWith(date));
			}
			tab1.innerHTML = tab1_th;
			if (search_health.length == 0) {
				tab1.innerHTML = '<h3>查無健康紀錄！</h3>';
				tab2.innerHTML = "";
			} else {
				page = 1;
				for (let i = (page-1)*page_display; i < (page-1)*page_display+page_display; i++) {
					if (i < search_health.length) {
						tab1.innerHTML += get_tb1_tb(search_health,i)
					}
				}
				total_page = Math.ceil(search_health.length/page_display);
				if (page < total_page) {
					tab2.innerHTML = pagination("first",page);
				} else {
					tab2.innerHTML = pagination("one",1);
				}
			}
		})
		function show_detail(id, this_date) {
			axios.get(`/api/health/${id}/${this_date}`)
				.then(response => {
					detail_tab = document.getElementById('detail_tab');
                                        detail_tab.innerHTML = "";
                                        let detail = response.data;
                                        var text = "";
					text += `<tr><td>案主編號</td><td>${detail.s_num}</td></tr><tr><td>姓名</td><td>${detail.ct_lastname}${detail.ct_name}</td></tr><tr><td>日期</td><td>${detail.date}</td></tr><tr><td>是否有看到案主</td>`
					if (detail.status1 === 0) {
						text += `<td>沒有</td></tr>`;
                                	} else {
						text += `<td>有</td></tr>`;
                                	}
					text += `<tr><td>案主是否有狀況</td>`
					if (detail.status2 === 0) {
						text += `<td>無狀況</td></tr>`;
                                	} else {
						text += `<td>有狀況</td></tr>`;
                                	}
					text += `<tr><td>備註</td><td>${detail.remark}</td></tr><tr><td>圖片</td>`
					if (detail.cs_img == null) {
						text += `<td>無圖片</td></tr>`;
                                	} else {
						text += `<td><img src="/status/${health.cs_img}" style="width:100px; height:100px;"></td></tr>`;
                                	}
					text += `<tr><td>記錄送餐員編號</td><td><a href="/detail/${detail.bo_s_num}">${detail.bo_s_num}</a></td></tr>`;
                                        detail_tab.innerHTML += text;
                                })
                                .catch(error => {
                                        console.error(error);
                                });
                }
	</script>
							
</body>
</html>
