<!DOCTYPE html>
<html>
<head>
	<title>案主健康紀錄</title>
</head>
<body>
	<%- include('../function') %>
	<div class="col py-3">
	<nav aria-label="breadcrumb">
		<ol class="breadcrumb">
		<li class="breadcrumb-item me-2"><img src="/menu.png" width="16" height="16"></li>
		<li class="breadcrumb-item"><a href="/main">首頁</a></li>
		<li class="breadcrumb-item active" aria-current="page">案主健康紀錄</li>
		</ol>
	</nav>
	<form id="searchForm" method="GET">
	<div class="row mt-5">
		<div class="col-lg-2">
			<input type="text" id="id" name="id" class="form-control" placeholder="案主編號">
		</div>
		<div class="col-lg-2">
			<input type="text" id="name" name="name" class="form-control" placeholder="案主姓名">
		</div>
		<div class="col-lg-2">
			<input type="date" id="date" name="date" class="form-control" placeholder="日期">
		</div>
		<div class="col-lg-3">

			<button type="submit" class="btn btn-primary">
				<img src="/search.png" width="16">
				<span>查詢</span>
			</button>
			<button type="button" class="btn btn-outline-primary" onclick="window.location.href='/health'">
				<span>重置</span>
			</button>
		</div>
	</div>
	<div id="tab" class="mt-4">
		<table class="table table-bordered" id="tab1">
		</table>
	</div>
	<div id="tab2" class="d-flex justify-content-end"></div>
	</div>
	</div>
	</div>
	<%- include('../sos') %>
	<script src = 'https://cdnjs.cloudflare.com/ajax/libs/axios/0.27.2/axios.min.js' ></script>
	<script>
		var tb1 = document.getElementById('tab1');
		const tab1_th = '<thead class="table-primary"><tr><th scope="col">No.</th><th scope="col">案主編號</th><th scope="col">姓</th><th scope="col">名</th><th scope="col">日期</th><th scope="col">其他功能</th></tr>';
		var id;
		var name;
		var date;
		var health;
		var search_health;
		var on_search = false;
		var page = 1;
		var page_display = 5;
		var total_page;
		function pagination(pos,now_page) {
			if (pos === "one") {
	       			return `<nav aria-label="Page navigation example">
			  	<ul class="pagination">
			    	<li class="page-item active"><a class="page-link">1</a></li>
			  	</ul>
				</nav>`;
			} else if (pos === "first") {
				return `<nav aria-label="Page navigation example">
			  	<ul class="pagination">
	       		    	<li class="page-item active"><a class="page-link">${now_page}</a></li>
			    	<li class="page-item">
			      	<a class="page-link" href="#" aria-label="Next" onclick="next()">
			        <span aria-hidden="true">&raquo;</span>
			      	</a>
			    	</li>
			  	</ul>
				</nav>`;
			} else if (pos === "center") {
				return `<nav aria-label="Page navigation example">
			  	<ul class="pagination">
				<li class="page-item">
				<a class="page-link" href="#" aria-label="Previous" onclick="prev()">
			        <span aria-hidden="true">&laquo;</span>
			      	</a>
			    	</li>
	       		    	<li class="page-item active"><a class="page-link">${now_page}</a></li>
			    	<li class="page-item">
			      	<a class="page-link" href="#" aria-label="Next" onclick="next()">
			        <span aria-hidden="true">&raquo;</span>
			      	</a>
			    	</li>
			  	</ul>
				</nav>`;
			} else {
				return `<nav aria-label="Page navigation example">
			  	<ul class="pagination">
			    	<li class="page-item">
			      	<a class="page-link" href="#" aria-label="Previous" onclick="prev()">
			        <span aria-hidden="true">&laquo;</span>
			      	</a>
			    	</li>
	       		  	<li class="page-item active"><a class="page-link">${now_page}</a></li>
			  	</ul>
				</nav>`;
			}
		};
		// 取得案主健康記錄
		axios.get('/api/health')
			.then(response => {
				tab1.innerHTML = tab1_th;
				health = response.data;
				console.log(health)
				for (let i = (page-1)*page_display; i < (page-1)*page_display+page_display; i++) {
					if (i < health.length) {
						tab1.innerHTML += get_tb1_tb(health,i);
					}
				}
				total_page = Math.ceil(health.length/page_display);
				if (page < total_page) {
					tab2.innerHTML = pagination('first',page);
				} else {
					tab2.innerHTML = pagination('one',1);
				}
			})
			.catch(error => {
				console.error(error);
			});
		function get_tb1_tb(health,i) {
			return `<tr id=tr${i%10+1}><td>${i+1}</td><td>${health[i].s_num}</td><td>${health[i].ct_lastname}</td><td>${health[i].ct_name}</td><td>${health[i].date}</td><td><button type="button" class="btn btn-primary mx-1" onclick="window.location.href='/health/detail/${health[i].s_num}/${health[i].date}'">詳細</button></td></tr>`;
		}
		function next() {
			tab1.innerHTML = tab1_th;
			page += 1
			for (let i = (page-1)*page_display; i < (page-1)*page_display+page_display; i++) {
				if (on_search == false) {
					if (i < health.length) {
						tab1.innerHTML += get_tb1_tb(health,i);
					}
				} else {
					if (i < search_health.length) {
						tab1.innerHTML += get_tb1_tb(search_health,i);
					}
				}
			}
			if (page < total_page) {
				tab2.innerHTML = pagination("center",page);
			} else {
				tab2.innerHTML = pagination("last",page);
			}
		}
		function last() {
			tab1.innerHTML = tab1_th;
			page = total_page;
			for (let i = (page-1)*page_display; i < (page-1)*page_display+page_display; i++) {
				if (on_search == false) {
					if (i < health.length) {
						tab1.innerHTML += get_tb1_tb(health,i);
					}
				} else {
					if (i < search_health.length) {
						tab1.innerHTML += get_tb1_tb(search_health,i);
					}
				}
			}
			tab2.innerHTML = pagination("last",page);
		}
		function first() {
			tab1.innerHTML = tab1_th;
			page = 1;
			for (let i = (page-1)*page_display; i < (page-1)*page_display+page_display; i++) {
				if (on_search == false) {
					if (i < health.length) {
						tab1.innerHTML += get_tb1_tb(health,i);
					}
				} else {
					if (i < search_health.length) {
						tab1.innerHTML += get_tb1_tb(search_health,i);
					}
				}
			}
			tab2.innerHTML = pagination("first",page);
		}
		function prev() {
			tab1.innerHTML = tab1_th;
			page -= 1
			for (let i = (page-1)*page_display; i < (page-1)*page_display+page_display; i++) {
				if (on_search == false) {
					if (i < health.length) {
						tab1.innerHTML += get_tb1_tb(health,i);
					}	
				} else {
					if (i < search_health.length) {
						tab1.innerHTML += get_tb1_tb(search_health,i);
					}
				}
			}
			if (page > 1) {
				tab2.innerHTML = pagination("center",page);
			} else {
				tab2.innerHTML = pagination("first",page);
			}
		}
		document.getElementById("searchForm").addEventListener('submit', function(event) {
			event.preventDefault(); // 防止送出後頁面刷新
			on_search = true;
			id = document.getElementById("searchForm").querySelectorAll('input')[0].value;
			name = document.getElementById("searchForm").querySelectorAll('input')[1].value;
			date = document.getElementById("searchForm").querySelectorAll('input')[2].value;
			search_health = health;
			if (id !== "") {
				search_health = search_health.filter(this_health => this_health.s_num.toString().startsWith(id));
			}
			if (name !== "") {
				search_health = search_health.filter(this_health => (this_health.ct_lastname+this_health.ct_name).startsWith(name));
			}
			if (date !== "") {
				console.log(date)
				search_health = search_health.filter(this_health => this_health.date.startsWith(date));
			}
			tab1.innerHTML = tab1_th;
			if (search_health.length == 0) {
				tab1.innerHTML = '<h3>查無健康紀錄！</h3>';
				tab2.innerHTML = "";
			} else {
				page = 1;
				for (let i = (page-1)*page_display; i < (page-1)*page_display+page_display; i++) {
					if (i < search_health.length) {
						tab1.innerHTML += get_tb1_tb(search_health,i)
					}
				}
				total_page = Math.ceil(search_health.length/page_display);
				if (page < total_page) {
					tab2.innerHTML = pagination("first",page);
				} else {
					tab2.innerHTML = pagination("one",1);
				}
			}
		})
	</script>
							
</body>
</html>
