<!DOCTYPE html>
<html>
<head>
	<title>管理送餐員</title>
</head>
<body>	
	<%- include('../function') %>
	<div class="col py-3">
	<nav aria-label="breadcrumb">
		<ol class="breadcrumb">
		<li class="breadcrumb-item me-2"><img src="/menu.png" width="16" height="16"></li>
		<li class="breadcrumb-item"><a href="/main">首頁</a></li>
		<li class="breadcrumb-item"><a href="/delivery">管理送餐員</a></li>
		<li class="breadcrumb-item active" aria-current="page">修改送餐員資料</li>
		</ol>
	</nav>
	<div class="container mt-5">
		<div class="row justify-content-center">
		<div class="col-md-6">
			<div class="card">
				<div class="card-header">
					<strong>修改送餐員資料</strong>
				</div>
				<div class="card-body">
				<form method='post' id="updateForm" enctype="multipart/form-data">
				<div class="row mb-3">
				  <div class="col-4">
					<label class="form-label">送餐員帳號</label>
					<select class="form-select" name="ur_s_num" id="ur_s_num" required></select>
				  </div>
				  <div class="col-4">
				    <label class="form-label">姓</label>
				    <input type="text" class="form-control" name="dp01" id="dp01" required>
				  </div>
				  <div class="col-4">
					  <label class="form-label">名</label>
					  <input type="text" class="form-control" name="dp02" id="dp02" required>
				  </div>
				</div>
				<div class="mb-3 col-12">
					<label class="form-label">綽號</label>
					<input type="text" class="form-control" name="dp_nickname" id="dp_nickname">
				</div>
				<div class="mb-3 col-12">
					<label class="form-label">加入理由</label>
					<input type="text" class="form-control" name="dp_reason" id="dp_reason">
				</div>
				<div class="mb-3 col-12">
					<label class="form-label">經驗</label>
					<input type="text" class="form-control" name="dp_experience" id="dp_experience">
				</div>
				<div class="row mb-3">
				  <div class="col-6">
					<label class="form-label">圖片</label>
					<input class="form-control" type="file" name="dp_img" id="dp_img">
				  </div>
				  <div class="col-6 d-flex justify-content-center align-items-center">
					<img id="image" src="" style="display:none;">
				  </div>
				</div>
				<div class="text-center">
				  <button type="button" class="btn btn-light" onclick="window.location.href='/delivery'">取消</button>
				  <button type="submit" class="btn btn-primary">修改</button>
				</div>
				</form>
			</div>
	</div>
	</div>
	</div>
	</div>
	<%- include('../sos') %>
	<script src = 'https://cdnjs.cloudflare.com/ajax/libs/axios/0.27.2/axios.min.js' ></script>
	<script>
		// 先取得原本資料
		const id = '<%= id %>';
		console.log(id);
		const form = document.getElementById('updateForm');
		axios.get(`/api/delivery/${id}`)
			.then(response => {
				let delivery = response.data;
				console.log(delivery);
				axios.get('/api/delivery_create')
					.then(response1 => {
						options = response1.data;
						const select = document.getElementById('ur_s_num')
						const origin_user = document.createElement('option');
						console.log(select);
						console.log(delivery.user);
						origin_user.value = delivery.ur_s_num;
						origin_user.textContent = delivery.user;
						select.appendChild(origin_user);
						options.forEach(option => {
							const optionElement = document.createElement('option');
							optionElement.value = option.s_num;
							optionElement.textContent = option.user;
							select.appendChild(optionElement);
						});
					})
					.catch(error => console.log(error));

				form.dp01.value = response.data.dp01;
				form.dp02.value = response.data.dp02;
				form.dp_nickname.value = response.data.dp_nickname;
				form.dp_reason.value = response.data.dp_reason;
				form.dp_experience.value = response.data.dp_experience;
				console.log(response.data.dp_img);
				if (response.data.dp_img == null) {
					var image = document.getElementById('image');
					image.remove();
				} else {
					var image = document.getElementById('image');
					image.src = "/dp/"+response.data.dp_img;
					image.style.display = "block";
					image.style.height = "100px";
					image.style.width = "100px";
				}
			})
			.catch(error => {
				console.error(error);
			});
		form.addEventListener('submit', (event) => {
			event.preventDefault(); // 防止送出後頁面刷新
			const formData = new FormData(form);
			console.log(formData);
			axios.put(`/delivery/update/${id}`, formData)
				.then(response => {
					alert('成功修改送餐員資料！');
					window.location.href='/delivery';
				})
				.catch(error => {
					console.error(error);
				});
		})
		document.getElementById('dp_img').addEventListener('change', function(event) {
			var file = event.target.files[0];
			var imageUrl = URL.createObjectURL(file);
			var image = document.getElementById('image');
			image.src = imageUrl;
			image.style.height = "100px";
			image.style.width = "100px";
		});
	</script>
</body>
</html>
